/** Custom roles **/
@mixin transition($t){
  -webkit-transition: $t;
     -moz-transition: $t;
      -ms-transition: $t;
       -o-transition: $t;
          transition: $t;
}

@mixin transform($t){
  -webkit-transform: $t;
     -moz-transform: $t;
      -ms-transform: $t;
       -o-transform: $t;
          transform: $t;
}

/** explosion **/
#explosion {
	position: relative;
	width: 100%;
  height: 550px;
  margin: 0;
	background:	rgb(0, 0, 0) url(img/bg.jpg) no-repeat center top;
	background-attachment:fixed;
	overflow: hidden;
}
#explosion > .layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 600px;
}
#extraclouds { background: transparent url(img/extraclouds.png) no-repeat center center; }
#boom { background:	transparent url(img/boom.png) no-repeat center center; }
#bits1 { background: transparent url(img/bits1.png) no-repeat center center; }
#bits2 { background: transparent url(img/bits2.png) no-repeat center center; }
#bits3 { background: transparent url(img/bits3.png) no-repeat center center; }

/** FOOTER **/
footer {
  background: none repeat scroll 0 0 #101010;
  color: #666666;
  font-size: 16px;
  font-weight: 100;
  padding: 5%;
  position: relative;
  .right {
  	text-align: right;
  }
}

#navbar {
  min-width: 500px;
  padding: 30px;
  margin-bottom: 0; 
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  -webkit-backface-visibility: hidden; /* fixes flashing */  
  background: hsl(210, 30%, 0%) radial-gradient( hsl(210, 30%, 20%), hsl(210, 30%, 0%));
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.6);
}

#powerplants-logo-container {
  display: flex; 
  color: hsla(0,0%,0%,0);
  perspective: 80px;
  outline: none;
}

#powerplants-logo {
    font-size: 60px;
    font-family: "procionoregular";
    font-style: normal;
    font-weight: bold;
    color: rgba(0, 0, 0, 0);
    display: inline-block;
    text-shadow: #bbb 0 0 2px, #fff 0 -1px 2px, #fff 0 -3px 5px, rgba(0,0,0,1) 0 30px 15px;
    transition: all 0.3s ease-in;
    @include transform(scale(1));
}
#powerplants-logo:hover { @include transform(scale(1.1)); }

#kickstarter-brand {
  @include transform(rotate(-5deg));
}
#kickstarter-brand span {
    -moz-font-feature-settings: "liga";
    font-family: "SSKickstarter";
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    text-rendering: optimizelegibility;
    white-space: nowrap;
}
#kickstarter-brand span:nth-child(1) { color: #000; }
#kickstarter-brand span:nth-child(2) { color: #76CC1E; }

#video-jumbotron {
  margin-bottom: 0;
  text-align: justify;
}
#video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

#video iframe,  
#video object,  
#video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**  **/
#pledges { 
  width: 100%;
  font-size: 10px;
}
#pledges-universe {
  position: relative;
  width: 100%;
  height: 60em;
  overflow: hidden;
  background: transparent url('img/hrs-ultimate-bg.jpg') no-repeat;
  background-position: center 0;
}
#pledges-universe .zone {
  width: 100%;
}
#pledges-universe h1 {
  margin: 0 auto 0.6em;
  padding: 2em 0 0;
  color: white; 
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
  font-size: 6em;
  font-family: Georgia, Garamond, Times, serif;
}
#pledges-intro {
  position: absolute; 
  z-index: 100; 
}
#pledges-zone-1 {
  position: absolute;
  left: 0;
  top: 32em;
  width: 100%;
  height: 8.8em;
  background: transparent url('img/hrs-trees.gif') repeat-x;
  background-size: 20.6em 8.8em;  
  z-index: 1;
}
#pledges-zone-2 {
  position: absolute;
  left: 0;
  top: 31em;
  width: 100%;
  height: 17.6em;
  background: transparent url('img/hrs-trees.gif') repeat-x;
  background-size: 51.2em 17.6em;  
  z-index: 2;
}
#pledges-zone-ground {
  position: absolute;
  left: 0;
  top: 48em;
  width: 100%;
  height: 20em;
  background: transparent url('img/hrs-ground.jpg') repeat-x;
  background-position: 0 -17.3em;
  background-size: 40em 30em;
  z-index: 10;
}

#hrs-placeholder {
  height: 10000px;
}

.box-indicator {
  width: 9em;
  height: 9em;
  margin: auto;
  padding: 3em;
  background: rgba(255, 255, 255, 0.5);
  @include transition(all .2s);
  @include transform(rotate(0deg));
}
.box-indicator:hover { 
  background-color: rgba(200, 200, 200, 0.8);
  cursor: pointer;
  @include transform(rotate(-45deg));
  div {
    @include transform(rotate(270deg));    
  }
}
.box-indicator > div {
  width: 3em;
  height: 3em;
  background: transparent;
  border-left: 0.2em solid black;
  border-bottom: 0.2em solid black;
  @include transform(rotate(315deg));
  @include transition(all .2s);
}